
<div class="container-fluid">
  <div class="row">
    <div class="col" style="padding: 2%;" *ngFor="let item of proyectosList">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="card" style="max-width: 400px; min-width: 300px;">
                <img src="{{item.imagen}}" style="min-width: 350px;" class="card-img-top" alt="{{item.titulo}}">
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="card-body">
            <h5 class="card-title">{{item.titulo}}</h5>
            <p class="card-text">{{item.descripcion}}.</p>
            <a href="{{item.url}}" class="btn btn-primary">See details!</a>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>



