
  <div class="container-fluid text-center">
    <div class="row" style="transform: translateY(200px);">

      <div class="col" >
        <div style=" transform: translateY(40px);text-align: left; transform: translateX(200px);">
        <h4 style="color: aliceblue; font-size: 50px;">Welcome!</h4>
        <h1>Hello!  I´m Luis</h1>
        <h2>I am a Software development trainee</h2>
        </div>

        <div style=" transform: translate(200px,100px); ">
          <a href="LuisOcampo/projects" class="btn btn-primary btn-lg" role="button" data-bs-toggle="button">See my work!</a>
        </div>
      </div>

      <div class="col">
        <figure class="figure" style="transform: translateX(-60px);">
          <img src="assets/imgProfile.jpg"  style="max-height: 400px;" class="figure-img img-fluid rounded-circle">
        </figure>
      </div>
    </div>


    <div class="row" style="transform: translateY(300px); padding-top: 15px;">
      <div class="col">
        <figure class="figure">
         <a href="https://github.com/LuisOT25"> <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png"  style="max-height: 75px;" class="figure-img img-fluid rounded-circle"></a>
        </figure>
      </div>
      <div class="col">
        <figure class="figure">
          <a href="https://www.linkedin.com/in/luis-de-la-torre-91879324a/"> <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png"  style="max-height: 75px;" class="figure-img img-fluid"></a>
         </figure>
      </div>
      <div class="col">
        <figure class="figure">
          <a href="mailto:delatorreluis@81gmail.com"><img src="https://cdn-icons-png.flaticon.com/512/732/732026.png"  style="max-height: 75px;" class="figure-img img-fluid"></a>
         </figure>
      </div>
    </div>
  </div>
