<div class="container-fluid" style="background-color: black;" >
<div class="row text-center" >
  <nav class="nav justify-content-center" style="background-color: black; padding: 5px;">
    <a href="LuisOcampo" class="btn btn-outline-light nav-item" style="margin: 5px;" >Home</a>
    <a href="LuisOcampo/projects" class="btn btn-outline-light nav-item" style="margin: 5px;">Projects</a>
    <a href="LuisOcampo/certificates" class="btn btn-outline-light nav-item" style="margin: 5px;">Certificates</a>
  </nav>
</div>
</div>
<router-outlet></router-outlet>
