<div class="container-fluid text-center">
  <div class="row">
    <div class="col" style="padding: 1%;">
      <img src="assets/previews/JavaSs.png"  style="max-height: 600px;" class="figure-img img-fluid">
    </div>
    <div class="col" style="padding: 1%;">
      <img src="assets/previews/02Ss.png"  style="max-height: 600px;" class="figure-img img-fluid">
    </div>
  </div>
  <div class="row">
    <div class="col" style="padding: 1%;">
      <img src="assets/previews/LANIASs.png"  style="max-height: 600px;" class="figure-img img-fluid">
    </div>
    <div class="col" style="padding: 1%;">
      <img src="assets/previews/goITSs.png"  style="max-height: 600px;" class="figure-img img-fluid">
    </div>

  </div>
  <div class="row">
    <div class="col" style="padding: 1%;">
      <img src="assets/previews/ensambla.png"  style="max-height: 600px;" class="figure-img img-fluid">
    </div>
    <div class="col" style="padding: 1%;">
      <img src="assets/previews/DiseñaRedSs.png"  style="max-height: 600px;" class="figure-img img-fluid">
    </div>


  </div>
  <div class="row">
    <div class="col" style="padding: 1%;">
      <img src="assets/previews/adminRedSs.png"  style="max-height: 600px;" class="figure-img img-fluid">
    </div>


    <div class="col" style="padding: 1%;">
      <img src="assets/previews/mantenimientoSs.png"  style="max-height: 600px;" class="figure-img img-fluid">
    </div>

  </div>
  <div class="row">
    <div class="col" style="padding: 1%;">
      <img src="assets/previews/soporteSs.png"  style="max-height: 600px;" class="figure-img img-fluid">
    </div>
  </div>
</div>

